@using Steam.Models
@{
    ViewBag.Title = "Index";
    Speler speler = (Speler)HttpContext.Current.Session["Account"];
}

<h2>Bibliotheek</h2>
@if(speler.Games.Count == 0)
{
    <br>
    <p>Je hebt geen games in je bibliotheek.</p>
}
else
{
    <table class="table">
        <tr>
            <td></td>
            <td><a href="@Url.Action("Compare", "Store", new { comparer = "naam"} )">Naam</a></td>
        </tr>
        @foreach (var game in speler.Games)
        {
            <tr>
                <td>
                    <a href="@Url.Action("Details", "Store", new { id = game.ID} )"><img src=@game.IMGUrl height="150"></a>
                </td>
                <td>
                    @game.Naam
                </td>
            </tr>
        }
    </table>
}
