<link href="~/Content/Registreren.css" rel="stylesheet" />
@{
    ViewBag.Title = "Registreren";
}
<div class="position">
    <form action="/Registreer/Registreer" method="post">
        <h2>Registreren</h2>
        <br />
        <div class="form-group">
            <label for="nickname">Nickname</label>
            <input type="text" class="form-control" name="nickname">
        </div>
        <div class="form-group">
            <label for="inlognaam">Inlognaam</label>
            <input type="text" class="form-control" name="inlognaam">
        </div>
        <div class="form-group">
            <label for="wachtwoord">Wachtwoord</label>
            <input type="password" class="form-control" name="wachtwoord">
        </div>
        <div class="form-group">
            <label for="herhaal_wachtwoord">Herhaal wachtwoord</label>
            <input type="password" class="form-control" name="herhaal_wachtwoord">
        </div>
        <div class="form-group">
            <label for="Woonplaats">Woonplaats</label>
            <input type="text" class="form-control" name="woonplaats">
        </div>
        <div class="form-group">
            <label for="Emailadres">Emailadres</label>
            <input type="text" class="form-control" name="emailadres">
        </div>
        <button type="submit" class="btn btn-default">Registreer</button>
    </form>
</div>


